
#banner { 
    /*Centre Image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /*Set height & width*/
    width: auto;
    height: 10vh;
    
    /*Drop 20px from top*/
    position: relative;
    top: 3vh;
}

#tagline {
    width: 100%;
    position: relative;
    padding-top:4vh;
    color:grey;
    font-size:2.2vh; 
    letter-spacing: 3px;
    text-align:center;
    padding-right: 20%;
    padding-left: 20%;
    font-family:"arial";
}
.sep {
    width:100%;
    height:1px;
    background-color: lightgray;
  
}

.logo {
    position: absolute;
    top:30vh;
    width:auto;

    left:calc(50% - 11vh);
    height:22vh;
        display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.logo_text {

    width: 100%;
    position: absolute;
    top:55vh;
    color:#595959;
    font-size:2.5vh; 
    letter-spacing: 3px;
    text-align:center;
    padding-right: 20%;
    padding-left: 20%;
    font-family:"arial";
    
}
.lower_blocks_l {
    height:1px;
    /*height: calc(100% - (70vh));*/
    width:100%;
    display:inline-block;
    background-color: lightgray;
    position: absolute;
    top:70%;
}

.sep2 {
    height: 27vh;
    width:1px;
    background-color: lightgray;
    position:relative;
    display:block;
        margin-left: auto;
    margin-right: auto;
}


.footer {
    width:50%;
    top:3vh;
    height: 30%;
    /*height: calc(100% - (70vh));*/
    color:gray;
    position:relative;
    font-weight: 200;
    
}
.footer p{
    position: relative;
    text-align:center;
    font-family:"arial";
    font-size:2vh;
    letter-spacing: 2px;
}
.footer ul {
    padding-left:0
}
.footer ul li{
    position:relative;
    font-size:1.8vh;
    margin:auto;
    padding-left:0;
    list-style: none;
    font-family:"helvetica";
    letter-spacing: 2px;
    top:1vh;
    text-align:center;
}
.content {
     position:relative;
    font-size:1.8vh;
    margin:auto;
    padding-left:0;
    list-style: none;
    font-family:"helvetica";
    letter-spacing: 2px;
    top:1vh;
    text-align:center;
}
#site_summary {
    display: block;
    position:relative;
    top:82vh;
    background-color: lightgrey;
    width: 100%;
    height: 30vh;
    
}
#summary_text {
    padding-top:2%;
    padding-left:20%;
    padding-right:20%;
        color: white;
    font-family:"helvetica";
    text-align:center;
    font-size:1.7vh;
    letter-spacing: 1px;
    
}
#summary_title {
        font-family:"arial";
    font-size:2vh;
    letter-spacing: 2px;
}